<div id="RED">
		
    <div class="social-links">
      <div id="rdiv">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div id="rdiv">
      <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div id="rdiv">
      <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div id="rdiv">
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div id="rdiv">
      <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
  </div>
</div>


<footer class="footer2">

<div class="containerF">
 <div id="row">
    <div id="footer-col" class="footer-col">
            <h4>INFORMATION</h4>
    </div>
        <div class="sam_emptydiv_hr_line"></div>
    <div id="footer-col" class="footer-col">
         <h4>HELPFUL LINKS</h4>
    </div>
        <div class="sam_emptydiv_hr_line"></div>
    <div id="footer-col" class="footer-col">
         <h4>NEWSLETTER</h4>
    </div>
        <div class="sam_emptydiv_hr_line"></div>
 </div>
 <div class="row">
     <div class="footer-col">
         <h4></h4>
         <ul>
             <li><a href="#">>Blog</a></li>
             <li><a href="#">>About Us</a></li>
             <li><a href="#">>Privacy Policy</a></li>
             <li><a href="#">>Orders & Shipping</a></li>
             <li><a href="#">>Returns & Refunds</a></li>
             <li><a href="#">>FAQ</a></li>
         </ul>
     </div>
     <div class="footer-col">
         <h4></h4>
         <ul>
             <li><a href="#">>Contact Us</a></li>
             <li><a href="#">>Suggest a Gift</a></li>
             <li><a href="#">>Become Our Vendor</a></li>
             <li><a href="#">>Bulk Gifting</a></li>
             <li><a href="#">>Coupon Partners</a></li>
         </ul>
     </div>
     <div class="footer-col">
      <h4></h4>
      <input type="email" id="email_footer" placeholder="Your email address">
      <button id="sub">SUBSCRIBE</button>
      
    </div>
 </div>
 <div id="payment">
  <div >
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Former_Visa_%28company%29_logo.svg/3072px-Former_Visa_%28company%29_logo.svg.png" id="imgF" >  
  </div>
  <div >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/2560px-MasterCard_Logo.svg.png" id="imgF" >  
    </div>
    <div >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1200px-American_Express_logo_%282018%29.svg.png" id="imgF" >  
    </div>
    <div >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Maestro_logo.svg/1200px-Maestro_logo.svg.png" id="imgF" >  
    </div>
    <div >
      <img src="https://w7.pngwing.com/pngs/714/503/png-transparent-tez-unified-payments-interface-google-apps-service-logo-payment.png" id="imgF" >  
    </div>
    <div >
      <img src="https://aniportalimages.s3.amazonaws.com/media/details/PaytmLogo.jpg" id="imgF" >  
    </div>
    <div >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBU3ScCzsLZtuCB19Wny02nX4VvjLdlW9AcPj6XQgmjHFAvtG441MDRhRYslI-571qXnY&usqp=CAU" id="imgF" >  
    </div>
  </div>
<div id="sam_page_end_hr">
© 2012-2018 Giftcart.com. All Rights Reserved
<div id="sam_happy_emoji">Hi! &#128515;!</div>
</div>
</footer>