<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Gifting Ideas from Online Gift Store India | Latest Gift Items From
      Giftcart.com
    </title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://style.giftcart.com/pub/media/favicon/stores/1/16x16.png"
    />
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="./styles/slider.css">
    <link rel="stylesheet" href="./styles/product_page.css">
    <!-- <link rel="stylesheet" type="text/css" media="all"
        href="https://style.giftcart.com/pub/static/_cache/merged/ba33a3ae125fe1c0ffec40f2b0073279.min.css" /> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
    <link rel="stylesheet" href="/styles/landing_page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav_bar_container"></div>


   

       <!--FRONT PAGE-->
   
       <div id="Bs_slide_images">
        <div class="main-container">
            <div class="container">
                <button onclick="backward()">  
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </button>
                <button onclick="forward()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
           </div>
    </div>

      <div id="head">
        <h2 >HATKE GIFTS</h2>
        <div id="line"></div>
        <h3 >View More</h3>
         </div>
    <div id="Bs_container_div">
        

        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/a/cas125m21.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Calvin Clien Obssesion 100ml
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹1744.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm02gbgt0052-0.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Mr&Mrs Salt Pepper
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹1344.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/p/e/personalised-for-father-framed-clock-red-1.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Personalised Wall Clock
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹2444.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm02kvpa0047-0.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Butterfly Bottle Key Hanger
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹1744.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        </div>
    </div>


    <!--second container first-->
    <div id="head">
        <h2 >OUR FAVOURITE PRODUCTS</h2>
        <div id="line"></div>
        <h3 >Best and The Brightest</h3>
         </div>
    <div id="Bs_container_div">
        

        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01per0178-0.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Jaguar Calssic Gold 100ml
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹1744.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/t/r/tree_lamp.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Tree Bottle Lamp
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹1344.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm03gbgt1562-0.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Spa Gift Basket
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹2444.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01gbgt2157-1.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Personalised map poster
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹1744.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        </div>
    </div>
  
    <!--first part third container-->

    <div id="head">
        <h2 >VALENTINE DAY GIFT</h2>
        <div id="line"></div>
        <h3 >View More</h3>
         </div>
    <div id="Bs_container_div">
        

        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/3fba745dcec88e97bfe808bedc471260/2/0/2020-02-05.png" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        7D surprise
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 2844.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/3fba745dcec88e97bfe808bedc471260/c/m/cm08fnp48451-1.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Red Roses Bucket With Ferraro Rochere
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 1344.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/3fba745dcec88e97bfe808bedc471260/c/m/cm06gbgt34525-1.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                       Personalised You turn me on Card
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 144.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Bs_item_div">
            <div class="Bs_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/3fba745dcec88e97bfe808bedc471260/4/_/4_1_1.jpg" alt="">
                <div class="Bs_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Bs_text_div">
                <div class="Bs_text_div_1">
                    <p>
                        Personalised I love you capsule
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Bs_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 449.00</p>
                </div>
            </div>
            <div class="Bs_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        </div>
    </div>

   <!--MID PART-->

    <div id="head">
        <h2 >POPULAR THIS WEEK</h2>
        <div id="line"></div>
        <h3 >Our most loved picks</h3>
         </div>
         <div class="main">
             <div >
        <img src="https://style.giftcart.com/pub/media/allbanners/HPS_3.jpeg" id="img">
             </div>
             <div >
                 <img src="https://style.giftcart.com/pub/media/allbanners/cushion-banner-updated_banner.jpg" id="img">
             </div>
             <div>
                 <img src="https://style.giftcart.com/pub/media/allbanners/Category-Banner-3.jpg" id="img">
             </div>
             <div>
                 <img src="https://style.giftcart.com/pub/media/allbanners/Persnalised_custom_Photo_lamps.jpg" id="img">
             </div>
   
         </div>
   
         <div id="head">
             <h2>GET INSPIRED</h2>
             <div id="line"></div>
             <h3 >Innovating Gifts Ideas for all</h3>
              </div>
          <div class="box">
              <div>
                  <img src="https://style.giftcart.com/pub/media/allbanners/Roses.jpg" id="img2">
              </div>
              <div>
                  <img src="https://style.giftcart.com/pub/media/allbanners/Hatke_Gifts.jpg" id="img2">
              </div>
              <div>
               <img src="https://style.giftcart.com/pub/media/allbanners/Roses.jpg" id="img2">
              </div>
   
          </div>
       
    <div id="head">
        <h2 >ON SALE</h2>
        <div id="line"></div>
        <h3 >View more</h3>
         </div>
    <div id="Ms_container_div">
        

        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm04gbgt0116-new-gallery-image.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Photo
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹ 2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>

        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/o/co-cm01gbgt0188-0.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Photo on Rotating cube
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/5/_/5_mb_in_one_tube-7.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Messages on Bottles
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01gbgt1098-1.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Photo-Stand
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01gbgt2157-1.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised map poster
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹ 1744.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    <!--SECOND CONTAINER-->


    <div id="head">
        <h2 >TOP GIFTS</h2>
        <div id="line"></div>
        <h3 >Make Room For New Gifts</h3>
         </div>
    <div id="Ms_container_div">
        

        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/p/cp-cm01gbgt0061-tem1-2.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Newspaper
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/o/co-cm05gbgt34320-01.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Glitery Calender
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹ 2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/m/s/msl14sb_1-rk.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Poetry Shade Lamp
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹ 2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm05gbgt46441-3.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Sweetest New baby boy Tedy
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹ 2344.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01gbgt2157-1.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised map poster
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹ 1744.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>

    <!--THIRD CONTAINER-->

    <div id="head">
        <h2 >New Products</h2>
        <div id="line"></div>
        <h3 >Make Room For New Gifts</h3>
         </div>
   
    <div id="Ms_container_div">
        

        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01per0178-0.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Jaguar Calssic Gold 100ml
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹349.00.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/t/r/tree_lamp.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Tree Lamp
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP (incl gst)</p>
                    <p>₹ 1299.00.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm03gbgt1562-0.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Spa Gift Basket
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹3449.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm01gbgt2157-1.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Personalised Map poster
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p>₹549.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        <div class="Ms_item_div">
            <div class="Ms_image_div">
                <img src="https://style.giftcart.com/pub/media/catalog/product/cache/54a34f5dbb4a497b03140173a959d3f4/c/m/cm06gbgt3219-1.jpg" alt="">
                <div class="Ms_slide_p">
                    <div>
                        <p>Similar Gifts</p>
                    </div>
                </div>
            </div>
            <div class="Ms_text_div">
                <div class="Ms_text_div_1">
                    <p>
                        Snoopy Rest cushion
                    </p>
                    <p>
                        <i class="fas fa-heart"></i>

                    </p>
                </div>
                <div class="Ms_text_div_2">
                    <p>MRP(incl gst)</p>
                    <p> ₹349.00</p>
                </div>
            </div>
            <div class="Ms_star_image_div">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        
    </div>
    <!--footer-->

    <div  id="footer">
      
    </div>
  </body>
</html>
<script type="module">
  // navbar html are imported here
  import navbar_part from "./components/navbar.js";
  let navbar_com = await navbar_part();
  document.querySelector(".nav_bar_container").innerHTML = navbar_com;
  // navbar logic are imported here
  import navbar_responsive from "./scripts/header.js";
  await navbar_responsive();
  import footer from "./components/footer.js";
    let footerDiv=document.getElementById("footer");
    footerDiv.innerHTML=footer();
    let getcart = JSON.parse(localStorage.getItem('productlist'));

    let cart_count = document.getElementById('cart_cc');
    cart_count.textContent = `${getcart.length}`;

    let clickdiv = document.querySelector('.material-icons-outlined');
    clickdiv.addEventListener('click',()=>{
        window.location.href = './product/random'
    })
</script>


    

<script>

var container = document.querySelector(".container");
var image = [
"https://style.giftcart.com/pub/media/allbanners/New_Year_2022.png",
'https://style.giftcart.com/pub/media/allbanners/valentine-2.jpg',
'https://style.giftcart.com/pub/media/allbanners/Roses.jpg',
'https://style.giftcart.com/pub/media/allbanners/Hatke_Gifts.jpg',
'https://style.giftcart.com/pub/media/allbanners/Birthday-1.jpg'
]
var index=0;
function forward(){
index++;
if(index > image.length-1){
  index=0;
}
container.style.backgroundImage = `url(${image[index]})`;
}
function backward(){
index--;
if(index < 0){
  index = image.length - 1;
}
container.style.backgroundImage = `url(${image[index]})`;
}
</script>
