<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/landing_page.css" />
  </head>
  <body>
    <div id="karthik_signin_container">
      <div id="sign_header">
        <div id="mera_sigin">
          <div id="sigin_logo_word">
            <div id="sigin_logo">
              <img
                src="https://style.giftcart.com/pub/static/frontend/Mgs/molly/en_US/Mageplaza_SocialLogin/css/images/login-title.png"
                alt=""
              />
            </div>
            <div id="sigin_word">Sign In</div>
          </div>
          <div id="signin_cross_btn"><a href="/index">x</a></div>
        </div>
      </div>
      <div id="signin_details">
        <p>Registered Coustomers</p>
        <form id="login_acc" action="/register/login/account" method="POST">
          <input type="hidden" name="method" value="GET" />

          <% if (!success) { %>
          <p style="color: red"><%= message %></p>
          <% } %>
          <div id="sdiv1">
            <label for="">Email</label><br />
            <input name="email" type="email" id="username-login" /><br />
          </div>

          <div id="sdiv2">
            <label for="">Password</label><br />

            <input type="password" name="password" id="password-login" />
            <p>Forget Your Password?</p>
          </div>

          <button type="submit" id="karthik_login_btn">LOGIN</button>

          <div id="new_join_gift">New? Join GiftCart</div>
          <div id="signup_area">
            <button id="signup_btn">
              <a
                href="/register/create"
                style="text-decoration: none; color: black"
                id="switch_boxes"
                >SIGN UP</a
              >
            </button>
          </div>
        </form>
        <div id="sigin_options">
          <p>Or Sign In With</p>
          <img
            id="fb_logo"
            src="https://www.golfrates.com.au/images/icons/fb_login.png"
            alt=""
            width="160px"
            height="34x"
          />
          <a href="/auth/google"
            ><img
              id="google_logo"
              src="https://onymos.com/wp-content/uploads/2020/10/google-signin-button.png"
              alt=""
              width="160px"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
