<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/landing_page.css" />
    <style>
      #karthik_create_container {
        border: 1px solid red;
      }
    </style>
  </head>

  <body>
    <div id="karthik_create_container">
      <div id="create_header">
        <h2 style="color: white">
          <img
            src="https://style.giftcart.com/pub/static/frontend/Mgs/molly/en_US/Mageplaza_SocialLogin/css/images/create-account-title.png"
            alt=""
          />
          Create New Account
        </h2>
        <button id="karthik_cross_btn">x</button>
      </div>

      <div id="details">
        <form id="createaccount">
          <div id="div1">
            <input
              name="first_name"
              type="text"
              id="name"
              placeholder="First Name"
              required
            />
            <input
              name="last_name"
              type="text"
              id="last_name"
              placeholder="Last Name"
              required
            />
          </div>

          <div id="div2">
            <label for="email">Email</label><br />
            <input name="email" type="text" id="email" required /><br />
          </div>
          <input
            name="username"
            type="text"
            id="username"
            value="1"
            style="display: none"
          />

          <div id="div3">
            <label>Password</label><br />
            <input
              name="password"
              type="password"
              id="password"
              required
            /><br />
          </div>

          <div id="div4">
            <label>Confirm Password</label><br />
            <input
              name="confirm_password"
              type="password"
              id="confirm_password"
              required
            /><br />
          </div>

          <!-- <input type="submit"><br> -->
          <button id="create_btn" type="submit">CREATE AN ACCOUNT</button><br />
          <a href="#" id="back_click">Back</a>
        </form>
      </div>
    </div>
  </body>
</html>
