<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/wishlist_layout.css" />
    <link rel="stylesheet" href="/styles/landing_page.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://style.giftcart.com/pub/media/favicon/stores/1/16x16.png"
    />
  </head>

  <body>
    <div class="nav_bar_container"></div>
    <div id="karthik_wishlist_layout">
      <p style="font-style: italic; color: #938a8a; font-size: 13px">
        Home / My Account
      </p>
      <hr />
      <div id="wishlist_container">
        <div id="wishlist_dashboard">
          <div id="wishlist_dashboard_details">
            <p>MY ACCOUNT</p>
            <hr />
            <ul id="dashboard_opts">
              <li><a href="#" style="color: red">MY WISHLIST</a></li>
              <hr />
              <li><a href="#">ACCOUNT DASHBOARD</a></li>
              <hr />
              <li><a href="#">ACCOUNT INFORMATION</a></li>
              <hr />
              <li><a href="#">ADDRESS BOOK</a></li>
              <hr />
              <li><a href="#">MY ORDERS</a></li>
            </ul>
          </div>
        </div>

        <div id="wishlist_right">
          <div id="no_of_items">
            <div id="no.ofitems"><span id="ka_item_count"></span> Item</div>
            <div id="no.ofpages">
              <label style="color: grey"><b>Show</b></label>
              <select name="" id="">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option></select
              >per page
            </div>
          </div>
          <div id="item_details_div"></div>
          <div id="wishlist_options">
            <button id="update_wishlist" class="wo">UPDATE WISHLIST</button>
            <button id="share_wishlist" class="wo">SHARE WISHLIST</button>
            <button id="add_to_cartall" class="wo">ADD ALL TO CART</button>
            <button id="wishlist_back"><a href="index">Back</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/scripts/wishlist_layout.js"></script>
<script type="module">
  // navbar html are imported here
  import navbar_part from "/components/navbar.js";
  let navbar_com = await navbar_part();
  document.querySelector(".nav_bar_container").innerHTML = navbar_com;
  // navbar logic are imported here
  import navbar_responsive from "/scripts/header.js";
  await navbar_responsive();
</script>
