@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.containerF{
	width: 100%;
	margin:auto;
}
.row{   /* I have to work in this class*/
	/* display: block; */
	display: flex;
	width: 85%;
	margin: auto;
	justify-content: space-between;
}
.row>div { /* this list tooo*/
	/* width:30%; */
	flex: 1;
}
#row
{
	padding-top: 30px;
	display: flex;
}
#row>:nth-child(1)
{
	margin-left: 7%;
}
#row>:nth-child(3)
{
	margin-left: 2%;
}
#row>:nth-child(5)
{
	margin-left: 3%
}

#row>#footer-col
{
	width: 10%;
}
#row>#footer-col+div{
	width: 16%;
	margin-top: 32px;
	border-top: 0.5px solid silver;
	z-index: 20;
	position: relative;
}

ul{
	list-style: none;
}
#RED{
	width:100%;
	height: 55px;
	background: red;
	display:flex;
	
}
#rdiv{
	width:99%;
	height: 70px;
}
#footer {
	width: 100%;
}
.footer2{
	width: 100%;
	background-color: #24262b;
}
.footer-col{
   width: 99%;
}
.footer-col h4{  /* also work in this class*/
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	/* margin-bottom: 35px; */
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	/* background-color: #e91e63; */
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links{
	display: flex;
	height: 40px;
	width: 29%;
	margin:auto;
	color: #ffffff;
	transition: all 0.5s ease;
	
}
.footer-col>ul>li {
	margin-left: -11%;
}
 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: red;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
#email_footer{
	width: 80%;
	height: 40px;
	background: transparent;
	color: whitesmoke;
	border:solid 2px white
}
#sub{
	background: red;
	color: seashell;
	margin-top: 8px;
	width:120px;
	height:35px;
}
#payment{
	
	display:flex;
	width:50%;
	height: 40px;
	gap: 1.5%;
	margin: auto;
	margin-top: 3%;
	
	
}
#payment>div{
	flex: 1;
	margin-left: 2%;
}

#imgF{
	height:100%;
	width:120%;
	
}
#sam_line_in_between
{
	border-bottom: 1px solid silver;
}
#sam_page_end_hr
{
	border-top: 1px solid lightgrey;
	margin-top: 15px;
	padding-left: 40%;
	padding-top: 20px;
	background-color: #24262b;
	color: lightgrey;
}
#sam_happy_emoji
{
	background-color: red;
	margin-left: 86%;
	margin-right: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 2px;
	z-index: 100;
	position: relative;
	cursor: pointer;
}


